{% extends "base.html" %}
{% block content %}
	<h1>Hiihtokilpailut</h1>
	{% if message %}
	<div class="alert alert-success">
  		{{message}}
	</div>
	{% endif %}
	<p>
    	<a href="{{base_path}}/kilpailu/uusi" class="btn btn-success">Lisää uusi kilpailu</a>
  	</p>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Kilpailun nimi</th>
				<th>Järjestäjä</th>			
				<th>Kilpailun päivämäärä</th>				
				<th>Alkamisaika</th>
			</tr>
		</thead>

		<tbody>
			{% for kilpailu in kilpailut %}
				<tr>
					<td><a href="{{base_path}}/kilpailu/{{kilpailu.id}}">{{kilpailu.nimi}}</td>			
					<td>{{kilpailu.jarjestaja}}</td>
					<td>{{kilpailu.paivamaara}}</td>
					<td>{{kilpailu.alkamisaika}}</td>
					<th><a class="btn btn-default btn-sm" href="{{base_path}}/kilpailu/{{kilpailu.id}}/muokkaa">Muokkaa</a></th>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}