{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>Osallistujalista</h1>
{% if user_logged_in %}
	<p>
		<!-- Tähän tulee lisäyspainike -->
		{{forms.edit_button("#{base_path}/kilpailu/#{kilpailu.id}/lisaa", "Lisää osallistujia")}}
	</p>
{% endif %}
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Nimi</th>
			<th>Seura</th>
			<th>Kansallisuus</th>
		</tr>
	</thead>
	<tbody>
	{% for osallistuja in osallistujat %}
		<tr>
			<td>{{osallistuja.kilpailija_nimi}}</td>
			<td>{{osallistuja.kilpailija_seura}}</td>
			<td>{{osallistuja.kilpailija_kansallisuus}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}