{% extends "base.html" %}
{% block content %}
	<h1>Muokkaa kilpailijan tietoja</h1>

	<form>
		<div class="form-group">
			<label>Nimi</label>
			<input class="form-control" value="Hirmu Hiihtäjä" type="text">
		</div>
		<div class="form-group">
			<label>Seura</label>
			<input class="form-control" value="Kampin Hiihtoseura" type="text">
		</div>
		<div class="form-group">
			<label>Kansalaisuus</label>
			<input class="form-control" value="Suomi" type="text">
		</div>
		<div class="form-group">
			<label>Syntymävuosi</label>
			<input class="form-control" value="1999" type="text">
		</div>
{% endblock %}