{% extends "base.html" %}
{% block content %}
	<h1>Kilpailijat </h1>
	
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Seura</th>			
				<th>Kansallisuus</th>
				<th>Syntymävuosi</th>			
			</tr>
		</thead>

		<tbody>
			<!-- kilpailijoiden listaus -->
			<tr>
					<td>Hirmu Hiihtäjä</td>
					<td>Kampin Hiihtoseura</td>			
					<td>FIN</td>
					<td>1973</td>
			</tr>
			<tr>					
					<td>Väinö Sauvoja</td>			
					<td>Punavuoren Pyrkimys</td>
					<td>FIN</td>
					<td>1986</td>
			</tr>
		</tbody>
	</table>
{% endblock %}