{% extends "base.html" %}
{% block content %}
	<h1>Kilpailijan tiedot 1. väliaikapisteessä</h1>
	<ul>
		<li><strong>Nimi:</strong> Hirmu Hiihtäjä</li>
		<li><strong>Seura:</strong> Kampin Hiihtoseura</li>
		<li><strong>Kansalaisuus:</strong> FIN</li>
		<li><strong>Aika:</strong> 00:14:13.1</li>
		<li><strong>Sijoitus:</strong> 3.</li>
		<li><strong>Eroa kärkeen:</strong> +00:00:14.3</li>
		<li><strong>Eroa edellä olevaan:</strong> +00:00:1.5</li>
		<li><strong>Eroa perässä tulevaan:</strong> -00:00:30.2</li>
	</ul>
{% endblock %}