{% extends "base.html" %}
{% block content %}
	<h1>Muokkaa kilpailun tietoja</h1>

	<form>
		<div class="form-group">
			<label>Nimi</label>
			<input class="form-control" value="Töölön hiihtokarnevaalit Naiset 10km perinteinen" type="text">
		</div>
		<div class="form-group">
			<label>Järjestäjä</label>
			<input class="form-control" value="Töölön Sauva" type="text">
		</div>
		<div class="form-group">
			<label>Päivämäärä</label>
			<input class="form-control" value="11.10.2015" type="text">
		</div>
		<div class="form-group">
			<label>Alkamisaika</label>
			<input class="form-control" value="12.00" type="text">
		</div>
{% endblock %}