{% extends "base.html" %}
{% block content %}
	<h1>Töölön hiihtokarnevaalit 11.10.2015</h1>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Kilpailun nimi</th>				
				<th>Kilpailun päivämäärä</th>				
				<th>Alkamisaika</th>
				<th>Status</th>
				<th>Kilpailu lisätty</th>
			</tr>
		</thead>

		<tbody>
			<!-- tapahtumien listaus -->
			<tr>
					<td><a href="#">Naiset 10km perinteinen</a></td>			
					<td>11.10.2015</td>
					<td>12.00</td>
					<td><label class="label label-danger">päättynyt</td>					
					<td>1.10.2015</td>
			</tr>
			<tr>
					<td><a href="#">Miehet 30km vapaa</a></td>
					<td>11.10.2015</td>
					<td>15.00</td>
					<td><label class="label label-danger">päättynyt</label></td>
					<td>1.10.2015</td>
			</tr>
		</tbody>
	</table>
{% endblock %}