{% extends "base.html" %}
{% block content %}
	<h1>Töölön hiihtokarnevaalit 11.10.2015 klo 12.00</h1>

	<div class="dropdown">
  		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    	Tulokset
    	<span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  			<li><a href="#">Lähtölista</a></li>
    		<li><a href="#">1. Väliaikapiste</a></li>
    		<li><a href="#">2. Väliaikapiste</a></li>
    		<li><a href="#">3. Väliaikapiste</a></li>
    		<li><a href="#">4. Maali</a></li>
  		</ul>
	</div>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Seura</th>
				<th>Kansallisuus</th>
				<th>Väliaika 1</th>
				<th>Väliaika 2</th>
				<th>Väliaika 3</th>
				<th>Loppuaika</th>
			</tr>
		</thead>

		<tbody>
			<!-- kilpailujen listaus -->
			<tr>
					<td><a href="#">Töölön hiihtokarnevaalit</a></td>
					<td>11.10.2015</td>
					<td>12.00</td>
					<td>Töölön Sauva</td>
					<td><label class="label label-danger">päättynyt</label></td>
					<td>1.10.2015</td>
			</tr>
			<tr>
					<td><a href="#">Punavuoren hiihtorieha</a></td>
					<td>30.11.2015</td>
					<td>12.30</td>
					<td>Punavuoren Latu</td>
					<td><label class="label label-primary">tulossa</label></td>
					<td>7.11.2015</td>
			</tr>
		</tbody>
	</table>


{% endblock %}