{% extends "base.html" %}
{% block content %}
	<h1>Punavuoren hiihtorieha Miehet 15km perinteinen 11.10.2015 klo 12.00</h1>

	<div class="dropdown">
  		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    	Tulokset
    	<span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  			<li><a href="#">Lähtölista</a></li>
    		<li><a href="#">1. Väliaikapiste</a></li>
    		<li><a href="#">2. Väliaikapiste</a></li>
    		<li><a href="#">3. Väliaikapiste</a></li>
    		<li><a href="#">4. Maali</a></li>
  		</ul>
	</div>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Sijoitus</th>
				<th>Nimi</th>
				<th>Seura</th>
				<th>Kansallisuus</th>
				<th>Tulos</th>
			</tr>
		</thead>

		<tbody>
			<!-- kilpailujen listaus -->
			<tr>
					<td>1.</td>
					<td><a href="#">Hirmu Hiihtäjä</a></td>
					<td>Kampin Hiihtoseura</td>
					<td>FIN</td>
					<td>50,3232</td>

			</tr>
			<tr>
					<td>2.</td>
					<td><a href="#">Veikko Mononen</a></td>
					<td>Töölön Sauva</td>
					<td>FIN</td>
					<td>55,3439</td>
			</tr>
		</tbody>
	</table>
{% endblock %}