{% extends "base.html" %}
{% block content %}
	<h1>{{kilpailija.nimi}}</h1>
		<p>
		<a href="{{base_path}}/kilpailija/{{kilpailija.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
		<a href="{{base_path}}/kilpailija/{{kilpailija.id}}/poista" class="btn btn-danger">Poista</a>
	</p>
	
	<ul>
		<li><strong>Seura:</strong> {{kilpailija.seura}}</li>
		<li><strong>Kansallisuus:</strong> {{kilpailija.kansallisuus}}</li>
		<li><strong>Syntymävuosi:</strong> {{kilpailija.syntymavuosi}}</li>
		<li><strong>Lisätty:</strong> ei tiedossa</li>
	</ul>
{% endblock %}