{% extends "base.html" %}
{% block content %}
	<h1>Muokkaa kilpailijan {{kilpailija.nimi}} tietoja</h1>

	<form method="post" action="{{base_path}}/kilpailija">
		<div class="form-group">
			<label>Nimi</label>
			<input name="nimi" class="form-control" value="{{kilpailija.nimi}}" type="text">
		</div>
		<div class="form-group">
			<label>Seura</label>
			<input name="seura" class="form-control" value="{{kilpailija.seura}}" type="text">
		</div>
		<div class="form-group">
			<label>Kansallisuus</label>
			<input name="kansallisuus" class="form-control" value="{{kilpailija.kansallisuus}}" type="text">
		</div>
		<div class="form-group">
			<label>Syntymävuosi</label>
			<input name="syntymavuosi" class="form-control" value="{{kilpailija.syntymavuosi}}" type="text">
		</div>
		<div class="form-group">
      		<button type="submit" class="btn btn-primary">Tallenna</button>
      		<button type="submit" class="btn btn-info">Peruuta</button>
    	</div>
  	</form>
{% endblock %}