{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}	
	{% if message %}
		<div class="alert alert-success">
			<ul>				
					<li>{{message}}</li>
			</ul>
		</div>
	{% endif %}
	
	<h1>{{attributes.nimi}}</h1>
	<p>
		{{forms.edit_button("#{base_path}/kilpailija/#{attributes.id}/muokkaa")}}
		{{forms.destroy_button("#{base_path}/kilpailija/#{attributes.id}/poista")}}
	</p>
	
	<ul>
		<li><strong>Seura:</strong> {{attributes.seura}}</li>
		<li><strong>Kansallisuus:</strong> {{attributes.kansallisuus}}</li>
		<li><strong>Syntymävuosi:</strong> {{attributes.syntymavuosi}}</li>
		<li><strong>Lisätty:</strong> ei tiedossa</li>
	</ul>
{% endblock %}