{% extends "base.html" %}
{% block content %}
	<h1>Kilpailijat </h1>
	<div class="alert alert-success">
  		{{message}}
	</div>
	<p>
    	<a href="{{base_path}}/kilpailija/uusi" class="btn btn-success">Lisää kilpailija</a>
  	</p>
	
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Seura</th>			
				<th>Kansallisuus</th>
				<th>Syntymävuosi</th>			
			</tr>
		</thead>

		<tbody>
			{% for kilpailija in kilpailijat %}
				<tr>
					<td><a href="{{base_path}}/kilpailija/{{kilpailija.id}}">{{kilpailija.nimi}}</td>
					<td>{{kilpailija.seura}}</td>			
					<td>{{kilpailija.kansallisuus}}</td>
					<td>{{kilpailija.syntymavuosi}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}