{% extends "base.html" %}
{% block content %}
<h1>{{kilpailu.nimi}}</h1>


<form method="post" action="{{base_path}}/kilpailu/{{kilpailu.id}}/tulokset">
	<div class="form-group">
  		<label>Valitse ajanmittauspiste</label>
  		<select class="form-control" name="ajanmittauspiste">
  			<option selected disabled>Valitse ajanmittauspiste</option>
    	{% for ajanmittauspiste in ajanmittauspisteet %}
     		<option value="{{ajanmittauspiste.id}}">Ajanmittauspiste {{ajanmittauspiste.etaisyys}} km</option>
    	{% endfor %}
  	</select>
	</div>
	<div class="form-group">
      		<button type="submit" class="btn btn-primary">Hae tiedot</button>
      		<a class="btn btn-default btn-sm" href="{{base_path}}/kirjaajalogin">Lisää uusi tulos</a>
    </div>
</form>
 
<h2>Tilanne {{mittauspiste.etaisyys}} km kohdalla</h2>
<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Seura</th>			
				<th>Kansallisuus</th>
				<th>Aika</th>
			</tr>
		</thead>

		<tbody>
		{% for t in tuloksia %}
			<tr>
				<td>{{t.nimi}}</td>
				<td>{{t.seura}}</td>			
				<td>{{t.kansallisuus}}</td>
				<td>{{t.aika}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}